.project-container {
    display: flex;
    flex-direction: column;
    max-width: 330px;
}

.project-container h2 {
    font-family: "freight-display-pro", serif;
    font-weight: 300;
    font-size: 33px;
}

.project-image {
    max-height: 300px;
    border-bottom: 1px solid #1e1c1d;
}

.project-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    min-height: 430px;
}

.project-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (min-width: 880px) {
    .project-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        max-width: 1100px;
    }

    .project-image {
        min-width: 450px;
    }

    .project-body {
        min-width: 450px;
        padding: 20px;
    }

    .project-container {
        flex: 1;
        flex-direction: row;
        /* min-width: 267px; */
        min-width: 450px !important;
        flex-wrap: wrap;
    }

    .project-footer {
        flex-direction: row;
        justify-content: center;
    }
}