.project-container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.project-container h2 {
    font-size: 33px;
}

.project-image {
    max-height: 300px;
    border-bottom: 1px solid #1e1c1d;
}

.project-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (min-width: 880px) {
    .project-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .project-container {
        flex-direction: row;
        justify-content: space-evenly;
        /* max-width: 1100px; */
        max-width: 400px;
        min-height: 700px;
        flex-wrap: wrap;
    }

    .project-body {
        max-width: 400px;
    }

    .project-footer {
        flex-direction: row;
    }
}