.featured-container {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.featured-container h2 {
    justify-content: flex-start;
}