.featured-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.featured-container h2 {
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
}

.featured-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.featured-work img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: top;
    border-top: 1px solid #1e1c1d;
    border-bottom: 1px solid #1e1c1d;
}

@media screen and (min-width: 800px) {
    .featured-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .featured-work img {
        width: 60%;
        height: 500px;
        border: 1px solid #1e1c1d;
    }

    article {
        width: 100%;
    }
}