.nav-tabs {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: right;
    font-size: .8em;
    line-height: 1.1;
    text-transform: uppercase;
}

.nav-tabs a:hover,
.nav-link-active {
    font-weight: bold;
    background-color: #F0FFA6;
}

@media screen and (min-width: 800px) {
    .nav-tabs {
        flex-direction: row;
        align-items: center;
    }

    .nav-tabs li {
        margin-left: 5px;
        margin-right: 5px;
    }
}