.nav-tabs {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: right;
    font-size: .8em;
    line-height: 1.3;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.nav-tabs a:hover,
.nav-link-active {
    font-weight: bold;
    background-image: linear-gradient(120deg, #D9F743 0%, #D9F743 100%);
    background-repeat: no-repeat;
    background-size: 97% 34%;
    background-position: 0px 85%;
    transition: .3s;
}

@media screen and (min-width: 800px) {
    .nav-tabs {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .nav-tabs li {
        margin-left: 5px;
        margin-right: 5px;
    }
}