nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    max-width: 60%;
    max-height: auto;
    display: flex;
    align-self: center;
}

/* @media screen and (min-width: 800px) {
    .logo {
        width: 200px;
    }
} */