nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.logo {
    max-width: auto;
    max-height: 50px;
    display: flex;
    align-self: center;
}

@media screen and (min-width: 800px) {
    nav {
        padding: 1rem 1rem;
    }
}