header {
    display: flex;
    flex-direction: column-reverse;
}

.header {
    position: absolute;
    background-color: #e8dbd069;
}

.header.sticky {
    position: fixed;
    visibility: inherit;
    top: 0;
    width: 100%;
    z-index: 1;
}