header {
    display: flex;
    flex-direction: column-reverse;
}

.header {
    visibility: hidden;
}

.header.sticky {
    position: fixed;
    visibility: inherit;
    top: 0;
    width: 100%;
    z-index: 1;
}