.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-bottom: 1.3px solid #1e1c1d;
}

.hero h1 {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: -3px;
    margin-top: 0px;
}

.hero h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
}

@media screen and (min-width: 800px) {
    .hero h1 {
        font-size: 100px;
    }

    .hero h2 {
        font-size: 30px;
    }
}