footer {
    font-size: .8em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.footer-logo {
    max-width: 75px;
}

.footer-links {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.icon {
    width: 25px;
    margin-left: 12px;
    margin-right: 12px;
}