* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #1e1c1d;
  background-color: #fffdf8;
}

body {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: .9em;
  letter-spacing: 1px;
  margin: 0;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main {
  /* padding: 1rem; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 15px;
}

a {
  color: #1e1c1d;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  /* font-family: 'Dream Cottage'; */
  font-family: "freight-display-pro", serif;
  font-weight: 300;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1.2;
  padding-top: 44px;
  margin: 20px;
  color: #1e1c1d;
}

h2 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 100%;
}

label {
  text-align: left;
  margin-top: 10px;
}

::placeholder {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: .9em
}

img {
  width: 100%;
  display: block;
}

.image-fade-in {
  animation: image-animation 1.5s ease-in;
}

@keyframes image-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.underline {
  font-family: "freight-display-pro", serif;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 2.5;
  text-transform: uppercase;
  border-bottom: .5px solid #1e1c1d;
  padding-bottom: 4px;
  margin-bottom: 15px;
  /* animation: underline-animation .5s ease-in !important; */
}

/* @keyframes underline-animation {
  0% {
    transform: translateY(70%);
  }

  100% {
    transform: translateY(0);
  }
} */

.hidden {
  opacity: 0;
}

@media screen and (min-width: 800px) {
  body {
    font-size: .9em;
  }

  h2 {
    font-size: 4em;
  }
}