* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: #000;
}

.gradient {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(circle farthest-side at var(--x, 150px) var(--y, 100px),
      #e9e2fd 0%,
      transparent 50%);
}

body {
  font-family: 'Hanken Grotesk', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

main {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

p {
  font-family: 'Hanken Grotesk', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  padding: 15px;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: 'Dream Cottage';
  font-weight: 200;
  font-size: 2.8em;
  letter-spacing: -.5px;
  text-transform: none;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #F27202;
}

h2 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

label {
  text-align: left;
  margin-top: 10px;
}

::placeholder {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .9em
}

img {
  width: 100%;
  display: block;
}