#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1.7rem;
  text-align: center;
}

body {
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 10px;
  background-color: #f5ebe0;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: column-reverse;
}

nav {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: 'Italiana', Arial, Helvetica, sans-serif;
  font-size: 2.3em;
}

.logo {
  max-width: 50%;
  max-height: auto;
}

.nav-tabs {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: right;
  font-size: .9em;
  line-height: 1.1;
}

#headshot {
  max-width: 300px;
  max-height: 300px;
  border-radius: 180px;
}