* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #fff;
  color: #000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}

main {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

p {
  font-family: 'Hanken Grotesk', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  padding: 15px;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

label {
  text-align: left;
  margin-top: 10px;
}

::placeholder {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .9em
}

img {
  width: 100%;
  display: block;
}
